*{
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color:#000;
}
.container {
	width: 100%;
}
.container>img{
	width:100%;
}
/* 广告图和定位 */
.box{
	width:1200px;
	margin:0 auto;
	padding-top:48px;
	font-size: 18px;
	padding-bottom:38px;
}
.box>span>a:hover{
	color:#00c905;
}
.box>span.on>a{
	color:#00c905;
}
/* 新闻 */
.contentNews{
	width:1200px;
	margin:0 auto;
}
.contentNews>ul.title{
	margin:0 auto;
	overflow: hidden;
	font-size: 18px;
	width:380px;
	margin-bottom: 65px;
}
.contentNews>ul.title>li{
	float:left;
	margin:0 15px;
	line-height: 30px;
}
.contentNews>ul.title>li:hover{
	border-bottom:2px solid #00c905;
}
.contentNews>ul.title>li:hover{
	color:#00c905;
	cursor: pointer;
}
.contentNews>ul.title>li.on{
	color:#00c905;
	border-bottom:2px solid #00c905;
}
.contentNews>ul.text>li>h5{
	display:inline-block;
	font-size: 24px;
	font-weight: 100;
	font-family: "Arial";
	color:#4f4f4f;
	width:680px;
}
.contentNews>ul.text>li>h5>span{
	margin-left:32px;
	font-size: 18px;
	color:#000;
}
.contentNews>ul.text>li>div>span{
	display:inline-block;
	float:left;
	font-size: 18px;
	color:#777777;
	width:48px;
	padding-left:10px;
	line-height:50px;
	box-sizing: border-box;
	opacity: 0;
}
.contentNews>.text>li>div>p{
	float:left;
	margin-left:30px;
	margin-top:10px;
	font-size: 18px;
	line-height:30px;
	width:600px;
}
.contentNews>ul.text>li>div>p a{
	color:#777777;
}
.contentNews>ul.text>li{
	height:255px;
	position: relative;
	margin-bottom:20px;
	box-sizing: border-box;
}
.contentNews>ul.text>li>img{
	float:right;
	width:380px;
	height:230px;
	position: absolute;
	top:0;
	right:0;
}
.contentNews>ul.text>li:hover{
	border-bottom:1px solid #00c905;
	cursor: pointer;
}
.contentNews>ul.text>li:hover div>span{
	opacity: 1;
}
.pageFoot{
	width:1200px;
	margin:0 auto;
	margin-top:100px;
}
.pageFoot>ul{
	overflow: hidden;
	width:300px;
	margin:0 auto;
}
.pageFoot>ul>li{
	font-size: 18px;
	color:#2b2b2b;
	float:left;
	width:30px;
	height:30px;
	margin:0 15px;
	text-align: center;
	line-height: 30px;
}
.pageFoot>ul>li:nth-child(2){
	background-color:#00c905;
	color:#fff;
}
.pageFoot>ul>li:hover{
	cursor: pointer;
}