*{
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color:#000;
}
.container {
	width: 100%;
}
.container>img{
	width:100%;
}
.box{
	width:1200px;
	margin:0 auto;
	padding-top:32px;
	font-size: 18px;
	overflow: hidden;
}
.box span>a:hover{
	color:#00c905;
}
.box span.on>a{
	color:#00c905;
}
.box>.productShow>img{
	display: block;
	margin: 0 auto;
	margin-top:43px;
}
.productShow>ul{
	width:900px;
	height:200px;
	margin:0 auto;
	margin-top:123px;
}
.productShow>ul>li{
	height:201px;
	width:201px;
	margin:0 10px;
	text-align: center;
	line-height:200px;
	box-sizing: border-box;
	border:1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.productShow>.goods li .enlarge{
	width:220px;
	height:220px;
	overflow: hidden;
	position: absolute;
	right:-220px;
	top:-180px;
	z-index: 3;
	display: none;
}
.productShow>.goods li .enlarge .imgs{
	width:440px;
	height:440px;
	position: absolute;
	left:0;
	top:0;
}
.productShow>.goods img{
	width:120px;
	height:120px;
	margin:2px;
}
.productShow>ul>li:hover{
	border:1px solid #00c905;
	cursor: pointer;
}
.productShow>ul>li>img{
	width:200px;
	height:200px;
}
.productShow>ul>li{
	float:left;
}
.note>h4{
	margin-top:38px;
	margin-bottom:32px;
	font-size: 22px;
}
.note>p{
	line-height: 34px;
	font-size: 18px;
	color:#2c2c2c;
}
.note>p:nth-child(2){
	margin-bottom:46px;
}
